@{
    ViewData["Title"] = "Index";
}

<h1> Enter ID: </h1> 
<input> 
<h1> Enter blog title: </h1> 
<input> 
<h1> Enter blog id: </h1> 
<input> 
<h1> Enter e-mail: </h1> 
<input> 
<h1> Enter password: </h1> 
<input type="password" > <br>
<button> Register </button>
<input type="button" value="Create" onclick="location.href='@Url.Action("registerUser", "RegisterController")'" />