@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form id="form1" method="post" action="Register/PostComplex" 
    enctype="application/x-www-form-urlencoded">
    <div>
        <label for="ID">ID</label>
    </div>
    <div>
        <input name="ID" type="ID" />
    </div>
    <div>
        <label for="BlogID">BlogID</label>
    </div>
    <div>
        <input name="BlogID" type="BlogID" />
    </div>
    <div>
        <label for="BlogTitle">Blog Title</label>
    </div>
    <div>
        <input name="BlogTitle" type="BlogTitle" />
    </div>
    <div>
        <label for="Mail">Mail</label>
    </div>
    <div>
        <input name="Mail" type="Mail" />
    </div>
    <div>
        <label for="Password">Password</label>
    </div>
    <div>
        <input name="Password" type="Password" />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>

